[Unit]
Description=log2discord
After=syslog.target network.target

[Service]
Type=simple
Restart=on-failure
WorkingDirectory=/home/deploy/.minetest/logs
ExecStart=/bin/sh -c '/home/deploy/.minetest/logs/bollocks.sh'

[Install]
WantedBy=default.target
